<!-- begin footer -->
<div class="footer">
  <div class="container">
    <div class="row start top-4 bottom-8">
      <div class="col-12">
        <div class="row top-4">
          <div class="col-md-2 col-sm-6">
            <ul>
              <h5 class="bottom-2"></h5>
              <li><img id="footerlogo" src="https://docs.sykdomspulsen.no/images/logo.png"></li>
              <li><p></p></li>
              <!-- <li><img id="footerlogo" src="https://www.fhi.no/contentassets/c03aa76fe30941f08474ee823ba2a928/logo-engelsk-kun-forkortelse-hvit-uten-luft-rundt.svg"></li> -->
              <li><p></p></li>
              </ul>
            </div>
          <div class="col-md-2 col-sm-6">
            <ul>
              <h5 class="bottom-2">About</h5>
              <li><a href="https://ropensci.org/about">About NorSySS</a></li>
              <li><a href="https://ropensci.org/about#team">The Team</a></li>
              <li><a href="https://ropensci.org/contact">Contact Us</a></li>
              <li><p></p></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-6">
            <ul>
              <h5 class="bottom-2">Resources</h5>
              <li><a href="https://docs.ropensci.org/">Documentation</a></li>
              <li><a href="https://ropensci.org/how-to-cite-ropensci/">Citing NorSySS</a></li>
              <li><a href="https://ropensci.org/packages/">R Packages</a></li>
              <li><a href="https://ropensci.org/talks-papers/">Talks &amp; Publications</a></li>
              <li><p></p></li>
            </ul>
          </div>
          <div class="col-md-2 col-sm-6">
            <ul>
              <h5 class="bottom-2">External</h5>
              <li><a href="https://www.fhi.no/en/">Norwegian Institute of Public Health</a></li>
              <li><a href="https://www.helsedirektoratet.no/tema/statistikk-registre-og-rapporter/helsedata-og-helseregistre/kuhr">Health Directorate</a></li>
              <li><p></p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / end footer -->

